html, body {
    height: 100%;
}

.card {
    background-color: #f0f0f0;
    border: 0;
}

.sidebar {
    background-color: #fafafa;
}

p {
    white-space: pre-wrap;
  }

.btn-font {
    font-size: 2em;
}