html, body {
    height: 100%;
}

.card {
    background-color: #e9ecef;
    border: 0;
}

p {
    white-space: pre-wrap;
  }

.btn-font {
    font-size: 2em;
}

.avatar-md {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}

.icon-md {
    font-size: 4rem;
}